<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Administrador - PALANT S.A.C</title>
    <link rel="icon" type="image/png" th:href="@{/assets/favicon_square.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="auth-wrapper">
    <div class="login-card">
        <div class="login-header">
            <h2>PALANT S.A.C.</h2>
            <p style="margin:0; font-size: 14px; color: var(--accent);">Acceso Exclusivo Administradores</p>
        </div>
        <div class="login-body">
            <h3 style="text-align: center;">Iniciar Sesión</h3>
            <p th:if="${error}" th:text="${error}" style="color: red; text-align: center;"></p>
            
            <form th:action="@{/admin/login}" method="post">
                <label style="font-size:12px; color:#64748b; font-weight:bold;">Correo Administrador</label>
                <input type="email" name="correo" class="form-control" placeholder="admin@palant.com" required>
                
                <label style="font-size:12px; color:#64748b; font-weight:bold;">Contraseña</label>
                <input type="password" name="contrasena" class="form-control" required>
                
                <button type="submit" class="btn" style="width: 100%;">Acceder al Panel</button>
            </form>
        </div>
    </div>
</body>
</html>
